footer {
    background-color: darkred;
    padding: 30px;
    box-sizing: border-box;
    border-top: 10px solid bisque;
}
 ul {
    display: flex;
    justify-content: center;
 }

 @media (max-width: 480px) {
    footer img {
        width: 30px;
        height: 30px;
    }
 }